<div class="container">
    <h2>Agregar un nuevo viajero a una agencia</h2>
    <div class="message success" *ngIf="status == 'success'">
        El nuevo viajero se ha  resgistrado en la agencia
    </div>
    <div class="message success" *ngIf="status == 'failed'">
        El nuevo viajero no se resgistrado en la agencia
    </div>

    <form #viajeroAgenciaForm="ngForm" (ngSubmit)="onSubmit(viajeroAgenciaForm)">
        <p>
            <label for="id_agencia">id de la agencia </label>
            <input type="number" min="0" name="id_agencia" #name="ngModel" [(ngModel)]="id_agencia" pattern="[0-9]+"  required/>
        </p>
        <p>
            <label for="id_viajero">Id del viajero a Registrar</label>
            <input type="number" min="0" name="id_viajero" #name="ngModel" [(ngModel)]="id_viajero" pattern="[0-9]+" required/>
        </p>
        <input type="submit" value="Registrar"/>
        <a class="btn-regresar" [routerLink]="['/menuViajero']">Regresar al menu </a>
    </form>
</div>
