<header class="header">
  <div class="container">
    <div class="btn-menu">
      <label for="btn-menu" class="icon-menu"></label>
    </div>
    <div class="logo">
      <h1>Trav Go</h1>
    </div>
    <nav class="menu">
      <a [routerLink]="''">Inicio</a>
      <a href="#">Nosotros</a>
    </nav>
  </div>
</header>
<input type="checkbox" id="btn-menu">
<div class="container-menu">
  <div class="cont-menu">
    <nav>
      <a [routerLink]="['/menuSocio']"[routerLinkActive]="['actived']">Socios Proveedores</a>
      <a [routerLink]="['/menuAgencia']"[routerLinkActive]="['actived']">Agencias Asociadas</a>
      <a [routerLink]="['/menuCliente']"[routerLinkActive]="['actived']">Clientes</a>
      <a [routerLink]="['/menuViajero']"[routerLinkActive]="['actived']">Viajeros</a>
    </nav>
    <label for="btn-menu" class="icon-cancel-squared"></label>
  </div>
</div>

<div id="main-container">
  <router-outlet></router-outlet>
</div>