<div class="container">

    <form #asociacionForm="ngForm" (ngSubmit)="onSubmit(asociacionForm)">
        <p>
            <label for="id_agencia" >id de la agencia para mostrar asociaciones</label>
            <input type="number" min="0" class="id_agencia"name="id_agencia" #name="ngModel" [(ngModel)]="id_agencia" pattern="[0-9]+"  required/>
        </p>
        <input type="submit" value="mostrar"/>
        <a class="btn-regresar" [routerLink]="['/menuSocio']">Regresar al menu </a>
    </form>

    <ul *ngIf="busqueda == 1"class="lista-proveedores">
        <li class="item-lista" *ngFor="let resultado of resultados">
        
            <p>Numero Documento del Proveedor: {{resultado.numero_documento_1}}</p>
            <p>Nombre del Proveedor: {{resultado.nombre_proveedor}}</p>
            <p>Tipo de documento: {{resultado.tipo_documento}}</p>
            <p>Telefono del Proveedor: {{resultado.telefono_proveedor}}</p>
            <p>Tipo de Proveedor: {{resultado.tipo_proveedor}}</p>
            <p><strong>agencia Asociada: {{resultado.edw_agencia_id_agencia}}</strong></p>
            <p>Fecha: {{resultado.fecha_asociacion}}</p>
            <a (click)="deleteAsociacion(resultado.edw_agencia_id_agencia,resultado.numero_documento_1)"class="btn-delete">Borrar Asociacion</a>
        </li>
    </ul>

    <div class="condicion">
        {{busqueda == 0}}
    </div>


</div>