<div class="container">

    <h2>Agregar una nueva Asociacion</h2>
    <div class="message success" *ngIf="status == 'success'">
        La agencia se ha asociado correctamente
    </div>
    <div class="message success" *ngIf="status == 'failed'">
        La agencia no se ha asociado correctamente
    </div>

    <form #asociacionAgenciaForm="ngForm" (ngSubmit)="onSubmit(asociacionAgenciaForm)">
        <p>
            <label for="id_agencia" >id de la agencia a Asociar</label>
            <input type="number" min="0" class="id_agencia_asociada"name="id_agencia" #name="ngModel" [(ngModel)]="id_agencia" pattern="[0-9]+"  required/>
        </p>
        <p>
            <label for="id_agencia_2" >id de la segunda agencia a asociar</label>
            <input type="number" min="0" class="id_agencia_2"name="id_agencia_2" #name="ngModel" [(ngModel)]="id_agencia_2" pattern="[0-9]+"  required/>
        </p>
        <input type="submit" value="Registrar"/>
        <a class="btn-regresar" [routerLink]="['/menuAgencia']">Regresar al menu </a>
    </form>





</div> 